body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fff;   
}
.page1{
    height: 2730px;
    width: 6070px;
    background-image: url('bubbles-dktp.png'),linear-gradient(rgb(255, 77, 184),rgb(165, 8, 218));
    background-size: 100%;
    background-repeat: no-repeat;
}
.header{
    width: 100%;
    height: 320px;
    background-color: black;
}
.header-logo{
    width: 40%;
    padding-left: 700px;
    padding-top: 70px;
    float: left;
}
.header-table{
    color: #fff;
    font-weight: bold;
    width: 35%;
    border-spacing: 60px;  
}
h3{
    font-size: 55px;
}
.hover:hover{
    cursor: pointer;
    color: #1ed760;
}

#phn-img{
    width: 3650px;
    right: 108px;
    height: 3000px;
    position: relative;
}
#homescreen-img{
    position: absolute;    
     width: 1006px;     
     height: 1790px;     
     top: 938px;
    left: 1209px; 
}
.headline{
    position: absolute;
    font-size: 230px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
    color: #fff;
    letter-spacing: -18px;
    line-height: 1.15; 
}
#pg1hl{
    top: 800px;
    left: 2660px;
}
.button{
    position: absolute;
    margin-top: 1390px;
    margin-left: -969px;
    background-color: #fff;
    border: none;
    color: #000000;
    padding: 15px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 140px;
}   
.button:hover{
    transform: scale(1.05);
}
.page2{
    position: absolute;
    background-color: #fff;
    margin-top: -590px;
    height: 2400px;
    width: 100%;
}
.pghd{
    height: 600px;
    width: 100%;
    padding-top: 150px;
    font-size: 150px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.pg2img{
    height: 600px;
    width: 600px;
}
#pg2list{
    margin-left: 6%;
}
ul-1{
    padding-left: 250px;
    list-style-type: none;
    text-align: center;
    width: 1000px;
    float: left;
}
h2{
    font-size: 63px;
    font-weight: lighter;
    line-height: 100px;
}
h4{
    font-size: large;
    font-size: 75px;
}
.page3{ 
    position: relative;
    margin-top: 1810px;
    height: 2000px;
    width: 100%;
    background-image: linear-gradient(rgb(176, 35, 194) 15%, rgb(96, 11, 231));
}
#pg3hdln{
    font-size: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #fff;
    line-height: 1.15;
    text-align: center;
    padding-top: 15%;
}
.page4{
    position: relative;
    height: 2300px;
    width: 100%;
    background-color: #fff;
}
#pg4hd{
    height: 500px;
}
ul-2{
    list-style: none;
}
.drpdwn{
    position: relative;
    display: block;
    background-color:#fff;
    margin-left: 16%;
    margin-top: -4%;
}
.btntxtpos{
    text-align: left;
    padding-left: 30px;
    float: left;
}
.drpdwnbtn{  
    margin-top: 6px;
    font-size: 75px;
    font-weight: bolder;
    font-family: system-ui;
    letter-spacing: 3px;
    width: 4000px;
    height: 300px;
    background-color: #fff;  
    border: none;
    box-shadow: 0px 4px #eeee;
}
.drpdwn :hover{
    cursor: pointer;
    text-decoration: underline;
    background-color: #ececec7a,transparent;
}
.arrow-img{
    position: absolute;
    height: 100px;
    width: 100px;   
}
#arrow1{
    padding-top: 1%;
    padding-left: 1240px;
}
#arrow2{
    padding-top: 1%;
    padding-left: 1083px;
}
#arrow3{
    padding-top: 1%;
    padding-left: 1006px;
}
#arrow4{
    padding-top: 1%;
    padding-left: 1260px;
}
.page5{
    height: 2000px;
    width: 100%;
    background-image: url('lets-play.png'),linear-gradient(rgb(255, 77, 184),rgb(165, 8, 218));
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
}
#pg5hdln{
    position: relative;
    padding-left: 33%;
    padding-top: 12%;
    display: flex;
}
#pg5btn{
    position: relative;
    padding-left: 19%;
    margin-top: -25%;
}
.page6{
    height: 2000px;
    width: 100%;
    background-color: #000000;
}
.footer-logo{
    height: 180px;
    width: 600px;
}
.pg6tbl{
    margin-left: 707px;
    padding-top: 317px;
}
.pg6tblcnt1{
    padding-left: 340px;
    text-align: left;
    color: #919496;
}
.pg6tblcnt234{
    padding: 7px;
    padding-left: 335px;
    text-align: left;
    color: #fff;
}
.pg6tblcnt234:hover{
    cursor: pointer;
    color: #1ed760;
}
.pg6lst1{
    position: relative;
    list-style-type: none;
    margin-left: 12%;
    margin-top: 4%;
}
.pg6lst1cnt{
    font-size: 45px;
    color: #919496;
    float: left;
    padding-right:2%;
}
.pg6lst1cnt:hover{
    cursor: pointer;
    color: #1ed760;
}
.pg6lst2{
    position: absolute;
    list-style-type: none;
    margin-left: 70%;
    margin-top: -20%;
}
.pg6lst2cnt{
    float: left;
    background-color: #222326;
    margin-left: 150px;
    border-radius: 50%;
    padding: 50px;
}
.pg6img{
    width: 100px;
    height: 100px;
    background-color: #fff;   
}
.pg6img:hover{
    background-color: #1ed760;;
}
.pg6lst3{
    position: absolute;
    letter-spacing: 4px;
    list-style-type: none;
    margin-left: 80%;
    margin-top: -1%;
    line-height: 62px;
}
#pg6lstcnt{
    font-size: 45px;
    color: #919496;
    float: left;
    padding-right:2%;
}